<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <body>
            <!-- FRAGMENTO DE REGISTRO -->
            <section th:fragment="registroUsuario" style="margin-top: 45px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img style="margin-top: 60px; position: absolute;left: 101px;" src="/images/2-removebg-preview.png" width="450" height="450"/>
                        </div>
                        
                        <div class="col-md-8 col-md-offset-3">                            
                            <h1>[[#{accion.registrar}]]</h1>
                            <form method="POST" th:action="@{/registro/crearUsuario}" th:object="${usuario}" class="was-validated">
                                <div class="form-group">
                                    <label class="control-label" for="username">[[#{usuario.username}]]: </label> 
                                    <input style="margin-bottom: 16px;" type="text" class="form-control" id="username" th:field="*{username}" required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="nombre_usuario">[[#{usuario.nombre}]]: </label> 
                                    <input style="margin-bottom: 16px;" type="text" class="form-control" id="nombre_usuario" th:field="*{nombreUsuario}" required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="primer_apellido">[[#{usuario.Primerapellido}]]: </label> 
                                    <input style="margin-bottom: 16px;" type="text" class="form-control" id="primer_apellido" th:field="*{primerApellido}" required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="segundo_apellido">[[#{usuario.Segundoapellido}]]: </label> 
                                    <input style="margin-bottom: 16px;" type="text" class="form-control" id="segundo_apellido" th:field="*{segundoApellido}" required="true">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="correo ">[[#{usuario.correo}]]: </label> 
                                    <input style="margin-bottom: 16px;" type="email" class="form-control" id="correo" th:field="*{correo}" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="telefono">[[#{usuario.telefono}]]: </label>
                                    <input type="text" class="form-control" name="telefono" th:field="*{telefono}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">[[#{usuario.password}]]: </label>
                                    <input type="password" class="form-control" name="password" th:field="*{password}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="rutaImagen">[[#{usuario.imagen}]]: </label>
                                    <input type="url" class="form-control" name="rutaImagen" th:field="*{rutaImagen}" required="true"/>                     
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-success" fdprocessedid="mzgvk9" 
                                            style="position: absolute;
                                            left: 646px;
                                            right: 205px;
                                            padding-top: 15px;
                                            padding-bottom: 15px;
                                            ">[[#{accion.registrar}]]
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <br/>
                <footer th:fragment="footer" style="height: 8%;bottom: 0;left: 0;width: 100%;background-color: #f35c2c" class=" text-white mt-5 p-2">
                <div  class="container">
                    <div class="col">
                        <p class=" m-0 lead text-center">
                            &COPY;[[#{plantilla.derechos}]]
                        </p>
                        </p>
                    </div>
                </div>
            </footer>
            </section>


            
            
        </body>
</html>
