<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Donde John</title>
        <link rel="icon" href="/images/2-removebg-preview.png">
            <meta charset="UTF-8"/>
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script src="/js/rutina.js"></script>
            <style>
                #spamheader{
                    color: white;
                    font-weight: bold;
                    font-size: 20px

                }
                body{

                    background-color: #fba31b
                }

                .figura {
                    position: relative;
                    display: inline-block;
                    margin: 20px;

                }

                .botonImagen {
                    width: 180px;
                    height: 70px;
                    border-radius: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    border: none;
                    background-color: rgba(255, 255, 255, 0.35);
                    font-weight: bold;
                    font-size: 25px
                }

                .botonImagen:hover {


                    background-color: white;
                    width: 200px;
                    height: 90px;
                    font-size: 30px;
                    transition: 0.5s;
                }
                #dvImagenes{

                    display:flex;
                    justify-content: center;

                }
                #blurImagen{
                    filter: blur(1.5px);
                }

                .filtro{
                    font-size: 20px;
                }
                .filtro:hover {
                    font-size: 22px;
                    font-weight: bold;

                }
            </style>

            <script>
                function establecerFechaActual() {
                    var campoFecha = document.getElementById("fechaEmision");
                    var fechaActual = new Date();
                    campoFecha.value = fechaActual.toISOString().split("T")[0];
                }
            </script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <div style="display:flex;
                 justify-content: space-between;
                 background-color: #f35c2c">
                <div class="col-md-10">
                    <nav style = "background-color: #f35c2c" class="navbar navbar-expand-sm p-4">
                        <a style="font-size: 50px;
                           margin-right: 4%" th:href="@{/}" class="px-4 navbar-brand text-white ">
                            <img src="/images/2-removebg-preview.png" width="100" alt=""/><strong>Donde John</strong>
                        </a>

                        <div  class="navbar-collapse justify-content-between " id="navbarCollapse ">
                            <ul class=" navbar-nav">
                                <li class="nav-item px-2" sec:authorize="isAuthenticated"><a class="nav-link" th:href="@{/pedidos/inicio}"><span id="spamheader">Pedidos</span></a></li>
                                <li class="text-white nav-item px-2"><a class="nav-link" th:href="@{/menu/listado}"><span id="spamheader">Menu</span></a></li>
                                <li class="text-white nav-item px-2"><a class="nav-link" th:href="@{/contactenos/muestra}"><span id="spamheader">Contactenos</span></a></li>
                                <li class="text-white nav-item px-2"><a class="nav-link" th:href="@{/nosotros/muestra}"><span id="spamheader">Nosotros</span></a></li>
                                <li class="text-white nav-item px-2"><a class="nav-link" th:href="@{/comentarios/mostrar}"><span id="spamheader">Comentarios</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-2">
                    <nav style = "background-color: #f35c2c;" class=" navbar-left pt-5">
                        <div>
                            <ul class=" navbar-nav">
                                <li style="display: flex" class="nav-item dropdown text-center">
                                    <div style="display: flex" sec:authorize="isAuthenticated()">
                                        <a class="nav-link" th:href="@{/perfil/mostrar}"><span id="spamheader"><i class="fa-sharp fa-solid fa-circle-user fa-lg" style=" color: #f19c1a; margin-right: 20px"></i></span></a>                                    
                                        <span id="spamheader" style="text-align: center; display: flex; align-items: center; margin-bottom: 0px; margin-right: 7px" sec:authentication="name">Username</span>
                                    </div>
                                    <a style="color:white" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span id="spamheader">| Lang</span></a>
                                    <ul style = "background-color: #c03600" class="dropdown-menu">
                                        <li><a style="color:white;" class="dropdown-item"  th:href="@{/(lang=es)}"><strong>ES</strong></a></li>
                                        <li><a  style="color:white" class="dropdown-item" th:href="@{/(lang=en)}"><strong>EN</strong></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
        </header>

        <section th:fragment="botonInicioSesion" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="btn btn-light" style="padding-right: 20px; text-align: center; display: flex; align-items: center; right: 26px; left: 90%; top: 88%; position: fixed;">
                <i style="margin-right: 10%; color: #f35c2c" class="fa-solid fa-right-to-bracket fa-beat"></i><h4 style="color: #f35c2c; margin-right: 10%; margin-bottom: 0px;">Login</h4>
            </a>
        </section>
        <section th:fragment="botonLogOut" sec:authorize="isAuthenticated()">
            <form method="POST" th:action="@{/logout}">
                <button class="btn btn-light" style="padding-right: 20px; text-align: center; display: flex; align-items: center; right: 26px; left: 90%; top: 88%; position: fixed;"><i style="margin-right: 10%; color: #f35c2c" class="fa-solid fa-right-from-bracket"></i></i><h4 style="color: #f35c2c; margin-right: 10%; margin-bottom: 0px;">Salir</h4></button>
            </form>
        </section>
        <section th:fragment="botonRegistro">
            <a href="/registro" class="btn btn-light" style="padding-right: 20px; display: flex; align-items: center; left: 90%; top: 94%; position: fixed;">
                <i style="margin-right: 10%; color: #f35c2c" class="fa-solid fa-user-plus fa-beat"></i><h4 style="color: #f35c2c; margin-right: 10%; margin-bottom: 0px;">Registro</h4>
            </a>
        </section>

        <section th:fragment="contenido" style="overflow: auto;">

            <br/>
            <br/>
            <br/>

            <center>
                <div id="demo" class="carousel slide" data-bs-ride="carousel">    
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>            
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2018/09/receta-super-facil-de-carne-para-hamburguesa-suave.jpg" width="250" height="500" alt="1" class="d-block" style="width:90%" >
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.freepik.com/foto-gratis/deliciosa-hamburguesa-queso_1232-503.jpg" width="250" height="500" alt="2" class="d-block" style="width:90%">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.comedera.com/wp-content/uploads/2013/07/alitas-de-pollo-al-horno.jpg" width="250" height="500" alt="3" class="d-block" style="width:90%"/>
                        </div>
                    </div>
                    <button style="color:white "class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button style="color:white "class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </center>

            <br/>
            <br/>
            <br/>
            <br/>
            <h2 style="color: white; padding-left: 40px;">Accesos Directos</h2>
            <hr style="border: none;border-top: 3.5px solid #ffffff; margin: 0px 30px;opacity: 0.8">
                <br/>

                <div id="dvImagenes">
                    <figure class="figura">
                        <img id="blurImagen" src="https://economiasustentable.com/wp-content/uploads/2021/01/entrega-comida.jpg" width="600" height="350" alt="Imagen" />
                        <button class="botonImagen">
                            <a  class="nav-link" th:href="@{/pedidos/inicio}">Pedidos</a>
                        </button>
                    </figure>
                    <figure class="figura">
                        <img id="blurImagen" src="https://www.unileverfoodsolutionslatam.com/tendencias/reingenieria-de-menu/mas-con-menos/ingenieria-menu-platillos-eficientes/jcr:content/parsys/set2/row7/span8/image.img.png/1632347749300.png" width="600" height="350" alt="Imagen"  />
                        <button class="botonImagen">
                            <a  class="nav-link"th:href="@{/menu/listado}">Menu</a>
                        </button>
                    </figure>
                </div>

                <div id="dvImagenes">
                    <figure class="figura">
                        <img id="blurImagen" src="https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="600"  height="350" alt="Imagen"/>
                        <button class="botonImagen">
                            <a  class="nav-link" th:href="@{/contactenos/muestra}">Contactenos</a>
                        </button>
                    </figure>
                    <figure class="figura">
                        <img id="blurImagen" src="https://images.pexels.com/photos/16617576/pexels-photo-16617576/free-photo-of-gente-amigos-fiesta-grupo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="600" height="350" alt="Imagen"/>
                        <button class="botonImagen">
                            <a  class="nav-link" th:href="@{/nosotros/muestra}">Nosotros</a>
                        </button>
                    </figure>
                </div>
                <div id="dvImagenes">
                    <figure class="figura">
                        <img id="blurImagen" src="https://images.pexels.com/photos/834897/pexels-photo-834897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="600"  height="350" alt="Imagen"/>
                        <button class="botonImagen">
                            <a  class="nav-link" th:href="@{/comentarios/mostrar}">Comentarios</a>
                        </button>
                    </figure>

                </div>

                <div>
                    <h2 style="color: white; padding-left: 40px;">Comentarios</h2>
                    <hr style="border: none;border-top: 3.5px solid #ffffff; margin: 0px 30px;opacity: 0.8"/>

                    <div th:if="${comentarios != null and !comentarios.empty}" style="background-color: orange;" class="m-4">
                        <center>
                            <div style="display: flex; justify-content: center;">
                                <div th:each="comentario, contador : ${comentarios}" class="card m-2" style="width: calc(33.33% - 20px); margin-right: 10px;">
                                    <div class="card-body">
                                        <p><strong> ID ANONIMO:[[${comentario.idComentario}]]</strong></p>
                                        <p><strong>[[${comentario.fechaEmision}]]</strong></p>
                                        <h5 class="card-title">[[${comentario.detalleComentario}]]</h5>
                                        <p><strong><i style="color: yellow" class="fa-solid fa-star"></i>[[${comentario.valoracion}]]</strong></p>
                                    </div>
                                </div>
                            </div>
                        </center>

                        <a class="btn btn-primary "   th:href="@{/comentarios/mostrar}">Ver mas comentarios</a>


                    </div>
                </div>


                <footer style="width: 100%;background-color: #f35c2c" class=" text-white mt-5 p-2">
                    <div  class="container">
                        <div class="col">
                            <p class=" m-0 lead text-center">
                                &COPY; Derechos Reservados 2023
                            </p>
                        </div>
                    </div>
                </footer>
        </section>
    </body>
</html>
