<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    </head>
    <body>
        <section th:fragment="agregarDetalle">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/detallePedido/agregar/guardar}" th:object="${detallePedido}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="pedido.idPedido" th:value="${pedido.idPedido}"/>
                        <input type="hidden" name="producto.idProducto" th:value="${producto.idProducto}"/>
                        <input type="hidden" name="estado" value="1"/>
                        <section th:replace="~{detallePedido/fragmento :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>AGREGAR</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">

                                                    <h2>[[${producto.nombreProducto}]]</h2>
                                                </div>
                                                <div class="mb-3">
                                                    <h2>[[${producto.precio}]]</h2>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Cant</label>

                                                    <input type="number"
                                                           class="form-control"
                                                           name="cantidadProducto"
                                                           value="1"
                                                           required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Comentarios</label>
                                                    <textarea class="form-control" name="comentarios" rows="2"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>


        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-6 d-grid">
                        <a th:href="@{/pedidos/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> REGRESAR
                        </a>
                    </div>

                    <div class="col-md-6 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> GUARDAR
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="listadoProductos" id="productos">
            <div class="mx-5">
                <div class="text-white">
                    <center>
                        <br/>
                        <h2>Carrito</h2>
                        <hr style="border: none;border-top: 3.5px solid #ffffff; margin: 0px 30px;opacity:1; padding-bottom: 10px">
                    </center>
                </div>
                <div class="row">
                    <div class="col-md-2 ">
                        <a th:href="@{/pedidos/listado}" style="width: 100%;" class="mt-2 btn btn-primary ">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                        <div class="mt-3 card text-center bg-dark text-white mb-3">
                            <div class="card-body">
                                <h3>#Pedidos: [[${TotalDetallePedidos}]]</h3>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-10">
                        <div th:each="detallePedido, contador : ${detallePedidos}" class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div style="height: 200px;width:300px ; overflow: hidden;" class="container">
                                        <img id="blah" class="p-1 img-fluid rounded-start" alt="" th:src="@{${detallePedido.producto.rutaImagen}}"
                                             style="object-fit: cover;width: 100%;height: 100%">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="">
                                        <h5 class="card-header">[[${contador.count}]]. [[${detallePedido.producto.nombreProducto}]]</h5> 
                                        <div style="display: flex;">

                                            <div class="col-md-6" style="font-size: 20px">
                                                <br/>
                                                <p class="card-text">Cantidad: [[${detallePedido.cantidadProducto}]]</p>
                                                <p class="card-text">Comentarios: [[${detallePedido.comentarios}]]</p>
                                            </div>
                                            <div style="display: flex;flex-direction: column-reverse;" class="col-md-6">
                                                <a th:href="@{/detallePedido/eliminar/}+${detallePedido.cont}"
                                                   class="m-1 btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/detallePedido/editar/}+${detallePedido.cont}"
                                                   class="m-1 btn btn-success">
                                                    <i class="fas fa-pencil"></i> Editar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: end; ">
                            <a th:href="@{/detallePedido/confirmar}"style="align-content: center;"
                               class="m-1 btn btn-primary"><strong>Confirmar pedido</strong></a>
                        </div>
                        <div class=" text-center text-white p-2" th:if="${detallePedidos == null or detallePedidos.empty}">
                            <h3>La lista esta vacia!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="EditarDetallePedido">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/detallePedido/agregar/guardar2}" th:object="${detallePedido}"
                          class="was-validated"
                          enctype="multipart/form-data">
                        <input type="hidden" name="cont" th:value="${detallePedido.cont}"/>
                        <input type="hidden" name="pedido.idPedido" th:value="${detallePedido.pedido.idPedido}"/>
                        <input type="hidden" name="producto.idProducto" th:value="${detallePedido.producto.idProducto}"/>
                        <input type="hidden" name="estado" value="1"/>
                        <section th:replace="~{detallePedido/fragmento :: botonesEditar2}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>AGREGAR</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">

                                                    <h2>[[${detallePedido.producto.nombreProducto}]]</h2>
                                                </div>
                                                <div class="mb-3">
                                                    <h2>[[${detallePedido.producto.precio}]]</h2>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Cant</label>

                                                    <input type="number"
                                                           class="form-control"
                                                           th:field="*{cantidadProducto}"
                                                           value="1"
                                                           required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label>Comentarios</label>
                                                    <textarea class="form-control" th:field="*{comentarios}" rows="2"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="botonesEditar2">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/pedidos/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> REGRESAR
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/detallePedido/eliminar/}+${detallePedido.cont}"
                           class=" btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar</a>
                    </div>

                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> GUARDAR
                        </button>
                    </div>
                </div>
        </section>


    </body>
</html>
