<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <div class="container my-5">
            <div class="row"> 
                <div class="col-md-8 col-md-offset-3">
                    <h1>Inicio de Sesion</h1>
                    <div class="card bg-black">
                        <div class="card-body my-5">
                            <form method="POST" th:action="@{/login}">
                                <div class="form-group row my-3">
                                    <label class="col-md-5 my-auto text-white" for="username"><i class="fas fa-user-lock" style="margin-right: 15px"></i>Nombre de Usuario: </label>
                                    <div class="col-md-7 my-auto">
                                        <input class="form-control" type="text" name="username" id="username"/></div></div>
                                <div class="form-group row my-3">
                                    <label class="col-md-5 my-auto text-white" for="password"><i class="fas fa-key" style="margin-right: 15px"></i>Contraseña: </label>
                                    <div class="col-md-7 my-auto"><input class="form-control" type="password" name="password" id="password"/></div></div>
                                <hr style="margin-top: 40px; color: white">
                                    <div class="card-footer col text-center">
                                        <a th:href="@{/registro/nuevo}" class="btn btn-danger text-white" style="height: 49px; text-align: center;  position: inherit; display: inline-flex;align-items: center;"><i class="fas fa-user-plus" style="margin-right: 5px"><strong></i> Registrarse </a></strong></button>
                                        <button class="btn btn-success" type="submit">
                                            <span class="btn text-white"><i class="fas fa-sign-in-alt" style="margin-right: 5px"><strong></i> Ingresar </span></strong></button>
                                    </div>
                            </form>                            
                        </div>
                    </div>
                    <div th:if="${param.error != null}">
                        <h3> Credenciales Erróneas </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <img style="margin-top: 30px; position: absolute;" src="images/2-removebg-preview.png" width="450" height="450"/>
                </div>                
            </div>           
        </div>
        <footer style="  height: 8%; position: absolute;bottom: 0;left: 0;width: 100%;background-color: #f35c2c; display: inline-flex; text-align: center; align-items: center;" class=" text-white mt-5 p-2">
            <div  class="container">
                <div class="col">
                    <p class=" m-0 lead text-center">
                        &COPY; Derechos Reservados 2023
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>