<!DOCTYPE html>
<!--contactenos-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section style="display: grid; justify-content: center;">
            <div style="margin-right: 15px;">
                <p style="color: white; text-align: center; font-size: 40px; font-weight: bold;"><strong>CONTACTOS</strong></p>
            </div>
            <div style="margin-top: 80px;display: flex; column-gap: 100px;">
                <div>
                    <a href="https://www.instagram.com/soda_donde_jhon/?igshid=MzRlODBiNWFlZA==">
                        <img src="/images/Instagram_icon.png"  width="100" alt="Instagram"/>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100063532664504&mibextid=LQQJ4d">
                        <img src="/images/icon facebook.png"  width="100" alt="Facebook"/>
                    </a>
                </div>
                <div>
                    <a href="https://wa.me/50663016906?">
                        <img src="/images/WhatsApp_icon.png"  width="100" alt="Whatsapp"/>
                    </a>
                </div>
            </div>
        </section>
        
        <section>
            <div style="margin-top: 20px;display: flex">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #fba31b"> 
                <form method="POST"
                      th:action="@{/contactenos/formulario/guardar}" th:object="${formulario}"
                      class="was-validated"
                      enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card text-white" style="background-color: #fba31b">
                                    <div class="card-header">
                                        <h4 class="text-center">Mas informacion</h4>
                                    </div>
                                    <div class="card-body">

                                        
                                        <div class="mb-3">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" required="true"/>
                                        </div>

                                        <div class="mb-3">
                                            <label for="apellidos">Apellidos</label>
                                            <input type="text" class="form-control" name="apellidos" required="true"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="correo">Correo</label>
                                            <input type="email" class="form-control" name="correo" required="true"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefono">Telefono</label>
                                            <input type="tel" class="form-control" name="telefono" required="true"/>
                                        </div>

                                        <div style="display: flex; justify-content: center; ">
                                            <button style="width: 300px; font-size: 22px"type="submit" class="btn btn-success">
                                                 <strong>Enviar Formulario</strong>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            
        </div>
        <footer style="  height: 8%; position: absolute;width: 100%;background-color: #f35c2c; display: inline-flex; text-align: center; align-items: center;" class=" text-white mt-5 p-2">
            <div  class="container">
                <div class="col">
                    <p class=" m-0 lead text-center">
                        &COPY; Derechos Reservados 2023
                    </p>
                </div>
            </div>
        </footer>
        </section>
        
        
    </body>
</html>
